body {
    font: 16px "Comic Sans MS", cursive;
    background: url("blue-rule.png");
}

strong {
    color: red;
    font-size: 2em;
}
.carrot {
    color: orange;
}
.spinach {
    color: green;
}
#first {
    font-style: italic;
}

p:before {
    content: " " url("yellow-pin.png");
}


a.homepage:link,
a.homepage:visited {
    padding: 1px 10px 1px 10px;
    color: #fff;
    background: #555;
    border-radius: 3px;
    border: 1px outset rgba(50,50,50,.5);
    font-family: georgia, serif;
    font-size: 14px;
    font-style: italic;
    text-decoration: none;
}
a.homepage:hover,
a.homepage:focus,
a.homepage:active {
    background-color: #666;
}

div.menu-bar ul ul {
    display: none;
}
div.menu-bar li:hover > ul {
    display: block;
}
